@import "tailwindcss";

@theme {
  --color-background: oklch(100% 0 0);
  --color-foreground: oklch(8.46% 0.011 285.885);
  --color-card: oklch(100% 0 0);
  --color-card-foreground: oklch(8.46% 0.011 285.885);
  --color-popover: oklch(100% 0 0);
  --color-popover-foreground: oklch(8.46% 0.011 285.885);
  --color-primary: oklch(15.21% 0.017 285.885);
  --color-primary-foreground: oklch(97.78% 0.007 264.542);
  --color-secondary: oklch(96.48% 0.004 264.542);
  --color-secondary-foreground: oklch(15.21% 0.017 285.885);
  --color-muted: oklch(96.48% 0.004 264.542);
  --color-muted-foreground: oklch(54.04% 0.016 285.885);
  --color-accent: oklch(96.48% 0.004 264.542);
  --color-accent-foreground: oklch(15.21% 0.017 285.885);
  --color-destructive: oklch(62.8% 0.178 29.234);
  --color-destructive-foreground: oklch(97.78% 0.007 264.542);
  --color-border: oklch(91.89% 0.006 264.542);
  --color-input: oklch(91.89% 0.006 264.542);
  --color-ring: oklch(8.46% 0.011 285.885);
  --color-chart-1: oklch(68.84% 0.135 54.011);
  --color-chart-2: oklch(56.48% 0.080 192.469);
  --color-chart-3: oklch(42.49% 0.058 239.141);
  --color-chart-4: oklch(73.71% 0.127 99.574);
  --color-chart-5: oklch(74.66% 0.153 44.334);

  --radius: 0.5rem;
  --radius-lg: var(--radius);
  --radius-md: calc(var(--radius) - 2px);
  --radius-sm: calc(var(--radius) - 4px);
}

@media (prefers-color-scheme: dark) {
  @theme {
    --color-background: oklch(8.46% 0.011 285.885);
    --color-foreground: oklch(97.78% 0.007 264.542);
    --color-card: oklch(8.46% 0.011 285.885);
    --color-card-foreground: oklch(97.78% 0.007 264.542);
    --color-popover: oklch(8.46% 0.011 285.885);
    --color-popover-foreground: oklch(97.78% 0.007 264.542);
    --color-primary: oklch(97.78% 0.007 264.542);
    --color-primary-foreground: oklch(15.21% 0.017 285.885);
    --color-secondary: oklch(23.7% 0.018 285.885);
    --color-secondary-foreground: oklch(97.78% 0.007 264.542);
    --color-muted: oklch(23.7% 0.018 285.885);
    --color-muted-foreground: oklch(70.21% 0.013 285.885);
    --color-accent: oklch(23.7% 0.018 285.885);
    --color-accent-foreground: oklch(97.78% 0.007 264.542);
    --color-destructive: oklch(37.11% 0.137 29.234);
    --color-destructive-foreground: oklch(97.78% 0.007 264.542);
    --color-border: oklch(23.7% 0.018 285.885);
    --color-input: oklch(23.7% 0.018 285.885);
    --color-ring: oklch(83.61% 0.013 285.885);
    --color-chart-1: oklch(56.06% 0.156 263.388);
    --color-chart-2: oklch(58.24% 0.102 174.994);
    --color-chart-3: oklch(66.72% 0.140 75.661);
    --color-chart-4: oklch(69.48% 0.127 307.221);
    --color-chart-5: oklch(66.74% 0.150 6.449);
  }
}

* {
  border-color: var(--color-border);
}

body {
  background-color: var(--color-background);
  color: var(--color-foreground);
}
